*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
build-app-Imported_Kit_65ed00-Default
.idea/vcs.xml
app/CMakeLists.txt.user
app/debug/
app/release/
keys.jks
.idea/gradle.xml
distribution/
QOC_Data/
QOC_Introduction_Oct 2019.pptx
app/FuzzyCulling/.vscode/
oc_data/
FR55429-Display\ Smooth\ Motion\ For\ Gaming\ .docx
FR60012-Qualcomm\ Occlusion\ Culling.docx
QOC\ Usage/
QOC_API.Dec.pptx
app/.cxx/
app/FuzzyCulling/build
.vs/