*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/codeStyles
/.idea/inspectionProfiles
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/.gitignore
.DS_Store
/build
/captures
.externalNativeBuild
build-app-Imported_Kit_65ed00-Default
.idea/vcs.xml
app/CMakeLists.txt.user
app/debug/
app/release/
keys.jks
.idea/gradle.xml
distribution/
app/FuzzyCulling/.vscode/
oc_data/
app/.cxx/
app/FuzzyCulling/build
.vs/